<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--게시글-->
<mapper namespace="com.hotae.mapper.BoardMapper">

    <!--공통쿼리1:컬럼-->
    <sql id="boardColumns">
		  idx
		, title
		, content
		, writer
		, view_cnt
		, notice_yn
		, secret_yn
		, delete_yn
		, insert_time
		, update_time
		, delete_time
	</sql>

    <!--공통쿼리2:페이징처리-->
    <sql id="paging">
		LIMIT
			#{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</sql>

    <!--공통쿼리3:검색-->
    <sql id="search">
        <!--검색 키워드가 있을 때-->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!--검색 유형이 있을 때-->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals(searchType)">
                            AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'content'.equals(searchType)">
                            AND content LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'writer'.equals(searchType)">
                            AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <!--검색 유형이 없을 때-->
                <otherwise>
                    AND
                    (
                    title LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR content LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR writer LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <!--1.게시글등록-->
    <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO tb_board (
        <include refid="boardColumns" />
        ) VALUES (
        #{idx}
        , #{title}
        , #{content}
        , #{writer}
        , 0
        , IFNULL(#{noticeYn}, 'N')
        , IFNULL(#{secretYn}, 'N')
        , 'N'
        , NOW()
        , NULL
        , NULL
        )
    </insert>

    <!--2.게시글상세조회-->
    <select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
        SELECT
        <include refid="boardColumns" />
        FROM
        tb_board
        WHERE
        delete_yn = 'N'
        AND
        idx = #{idx}
    </select>

    <!--3.게시글수정-->
    <update id="updateBoard" parameterType="BoardDTO">
		UPDATE tb_board
		SET
			  update_time = NOW()
			, title = #{title}
			, content = #{content}
			, writer = #{writer}
			, notice_yn = IFNULL(#{noticeYn}, 'N')
			, secret_yn = IFNULL(#{secretYn}, 'N')
		WHERE
			idx = #{idx}
	</update>

    <!--4.게시글삭제-->
    <update id="deleteBoard" parameterType="long">
		UPDATE tb_board
		SET
			  delete_yn = 'Y'
			, delete_time = NOW()
		WHERE
			idx = #{idx}
	</update>

    <!--5.게시글목록조회-->
    <select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
        SELECT
        <include refid="boardColumns" />
        FROM
        tb_board
        WHERE
        delete_yn = 'N'
        <include refid="search" />
        ORDER BY
        notice_yn ASC,
        idx DESC,
        insert_time DESC
        <include refid="paging" />
    </select>

    <select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_board
        WHERE
        delete_yn = 'N'
        <include refid="search" />
    </select>

</mapper>